<section class="pt-30 lg:pt-[120px] mb-5">
  {{log watches}}
  <section x-data='{createModalOpen: false}' class="pt-10">
    <div class='container pt-20 pb-10 mx-auto flex justify-end'>
      <button @click='createModalOpen = true'
        class='px-8 py-4 text-lg font-medium text-center text-white bg-indigo-600 rounded-md'>
        + New Watch
      </button>
    </div>
    <div x-show='createModalOpen' x-transition
      class='fixed top-0 left-0 flex items-center justify-center w-full h-full min-h-screen px-4 py-5 bg-slate-300 bg-opacity-80' >
      <div @click.outside='createModalOpen = false'
        class='w-full max-w-[570px] rounded-[20px] bg-white  py-12 px-8 text-center md:py-[60px] md:px-[70px]'>
        <h3 class='pb-[18px] text-xl font-semibold text-dark  sm:text-2xl'>
          Create Watch
        </h3>
        <br />
        <form id='create' x-init method='POST' action='/watches/management'>
          <div class='mb-6'>
            <input type='text' placeholder='Name' required name='watchName'
              class='border-stroke text-body-color focus:border-slate-900 w-full rounded border py-3 px-[14px] text-base outline-none' />
          </div>
          <div class='mb-6'>
            <input type='url' placeholder='Image' required name='image'
              class='border-stroke text-body-color focus:border-slate-900 w-full rounded border py-3 px-[14px] text-base outline-none' />
          </div>
          <div class='mb-6'>
            <input type='number' placeholder='Price' required name='price'
              class='border-stroke text-body-color focus:border-slate-900 w-full rounded border py-3 px-[14px] text-base outline-none' />
          </div>
          <div class='mb-6'>
            <select name="brandId" required
              class="border-stroke text-body-color focus:border-slate-900 w-full rounded border py-3 px-[14px] text-base outline-none">
              <option value="" selected>Choose a brand</option>
              {{#each brands}}
              <option value={{this._id}}>{{this.brandName}}</option>
              {{/each}}
            </select>
          </div>
          <div class='mb-6'>
                  <textarea id="watchDescription" name="watchDescription"
      class=" min-h-[100px] w-full border-stroke text-body-color focus:border-slate-900 w-full rounded border py-3 px-[14px] text-base outline-none"
      placeholder="Description"></textarea>
            {{!-- <input type='text-area' placeholder='Description' required name='watchDescription'
              class='border-stroke text-body-color focus:border-slate-900 w-full rounded border py-3 px-[14px] text-base outline-none' /> --}}
          </div>
          <div class='mb-6'>
            <label for='checkboxIsAutomatic' class='flex items-center cursor-pointer select-none text-dark '>
              <div class='relative mx-3'>
                <input id="checkboxIsAutomatic" type="checkbox"  name='automatic' class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"/>

                {{!-- <input name='isAutomatic' type='checkbox' id='checkboxIsAutomatic'  class='sr-only' checked /> --}}
              </div>
              Is Automatic?
            </label>
          </div>


          <div class='flex flex-wrap -mx-3'>
            <div class='w-1/2 px-3'>
              <div @click='createModalOpen = false'
                class='cursor-pointer block w-full p-3 text-base font-medium text-center transition border rounded-md border-stroke text-dark  hover:border-red-600 hover:bg-red-600 hover:text-white'>
                Cancel
              </div>
            </div>
            <div class='w-1/2 px-3'>
              <button type='submit'
                class='block w-full p-3 text-base font-medium text-center text-white transition border rounded-md border-slate-900 bg-indigo-600 hover:bg-blue-dark'>
                Create
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
  <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8 ">
    <div class="flex flex-col ">
      <div class="py-2 -my-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
        <div
          class="inline-block  min-w-full overflow-hidden align-middle border-b border-gray-200 shadow sm:rounded-lg"
        >
          <table class="min-w-full ">
            <thead>
              <tr>
                <th
                  class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50"
                >
                  Name</th>
                <th
                  class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50"
                >
                  Price</th>
                <th
                  class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50"
                >
                  Automatic</th>
                <th
                  class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50"
                >
                  Brand</th>
                <th class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">Actions
              </tr>
            </thead>

            <tbody class="bg-white">
              {{#each watches}}
                <tr>
                  <td
                    class="px-6 py-4 whitespace-no-wrap border-b border-gray-200"
                  >
                    <div class="flex items-center">
                      <div class="flex-shrink-0 w-10 h-10">
                        <img
                          class="w-10 h-10 rounded-full"
                          {{!-- src={{this.image}} --}}
                                  src={{this.image}}
                             alt="image"
                          onError="this.onerror=null;this.src='/assets/404.png';"
                        />
                      </div>

                      <div class="ml-4">
                        <div
                          class="text-sm font-medium leading-5 text-gray-900"
                        >
                          {{this.watchName}}
                        </div>

                      </div>
                    </div>
                  </td>

                  <td
                    class="px-6 py-4 whitespace-no-wrap border-b border-gray-200"
                  >
                    <div
                      class="text-sm leading-5 text-gray-900"
                    >${{this.price}}</div>

                  </td>

                  <td
                    class="px-6 py-4 whitespace-no-wrap border-b border-gray-200"
                  >
                 <div class='flex '>
                    <input id="inline-checkbox" type="checkbox" {{#if this.automatic}}checked{{/if}}  class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"/>
                  </div>
                  </td>

                  <td
                    class="px-6 py-4 text-sm leading-5 text-gray-500 whitespace-no-wrap border-b border-gray-200"
                  >
                    {{this.brandId.brandName}}</td>

                  <td
                    class="px-6 py-4 text-sm  font-medium leading-5  whitespace-no-wrap border-b border-gray-200"
                  >
                    <a
                      href="#"
                      class="text-indigo-600 hover:text-indigo-900 "
                    >Edit</a>
                  </td>
                </tr>

              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</section>