<section class="pt-30 lg:pt-[120px]">
  <div class="max-w-6xl mx-auto pt-10 px-4 sm:px-6 lg:px-8">

    <div class="flex flex-col md:flex-row -mx-4">
      <div class="md:flex-1 px-20">
        <h2 class="text-2xl font-bold text-teal-400 mb-2">{{watchName}}</h2>
        <br />
        <div class="mr-4">
          <span class="font-bold text-teal-400">Brand:</span>
          <span class="text-teal-200">{{brandId}}</span>
        </div>
        <br />
        <div class="mr-4">
          <span class="font-bold text-teal-400">Price:</span>
          <span class="text-teal-200">${{price}}</span>
        </div>
        <br />
        <div class="mr-4">
          <span class="font-bold text-teal-400">Is Automatic:</span>
          <span class="text-teal-200">{{#if
              isAutomatic
            }}Yes{{else}}No{{/if}}</span>
        </div>
        <br />
        <div>
          <span class="font-bold text-teal-400">Description</span>
          <span class="text-teal-200">{{description}}</span>
        </div>
        <br />

      </div>
      <div class="md:flex-1 px-4">
        <div class="h-[460px] rounded-lg bg-gray-300 mb-4">
          <img
            class="w-full h-full object-cover"
            src={{image}}
            alt="Image"
            onError="this.onerror=null;this.src='/assets/404.png';"
          />
        </div>
      </div>
    </div>

    <section class="bg-white dark:bg-gray-900 py-8 lg:py-16 antialiased">
      <div class="max-w-2xl mx-auto px-4">
        <div class="flex justify-between items-center mb-6">
          <h2
            class="text-lg lg:text-2xl font-bold text-gray-900 dark:text-white"
          >Discussion ({{commentCount}})</h2>
        </div>
        {{#if canComment}}
          <form class="mb-6" method="post" action="/comments">
            <div>
              <label
                for="rating"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Rating</label>
              <input
                type="number"
                name="rating"
                id="rating"
                class="bg-teal-50 border border-teal-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Please enter rating"
                required=""
              />

            </div>
            <div
              class="py-2 px-4 mb-4 bg-white rounded-lg rounded-t-lg border border-gray-200 dark:bg-gray-800 dark:border-gray-700"
            >
              <label for="content" class="sr-only">Your comment</label>
              <textarea
                id="content"
                rows="6"
                name="content"
                class="px-0 w-full text-sm text-gray-900 border-0 focus:ring-0 focus:outline-none dark:text-white dark:placeholder-gray-400 dark:bg-gray-800"
                placeholder="Write a comment..."
                required
              ></textarea>
            </div>
            <button
              type="submit"
              class="inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-indigo-600 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800"
            >
              Post comment
            </button>
            <input
              type="hidden"
              id="watchId"
              name="watchId"
              value="{{_id}}"
            /><br />

            <br />
          </form>
        {{/if}}
        {{log comments}}
        {{#each comments}}
          <article class="p-6 text-base bg-white rounded-lg dark:bg-gray-900">
            <footer class="flex justify-between items-center mb-2">
              <div class="flex items-center">

                <p
                  class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white font-semibold"
                > {{this.author.memberName}}</p>

                <p class="text-sm text-gray-600 dark:text-gray-400"><time
                    pubdate
                    datetime="2022-02-08"
                    title="February 8th, 2022"
                  >{{commentDate this.createdAt}}</time></p>
              </div>
              <button
                id="dropdownComment1Button"
                data-dropdown-toggle="dropdownComment1"
                class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-500 dark:text-gray-400 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-50 dark:bg-gray-900 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                type="button"
              >
                <svg
                  class="w-4 h-4"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 16 3"
                >
                  <path
                    d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z"
                  />
                </svg>
                <span class="sr-only">Comment settings</span>
              </button>
            </footer>
            <p class="text-gray-500 dark:text-gray-400">Rating:
              {{this.rating}}
            </p>
            <p class="text-gray-500 dark:text-gray-400">Comment:
              {{this.content}}
            </p>
          </article>
        {{/each}}
      </div>
    </section>
  </div>
</section>