<section class="pt-30 lg:pt-[120px] mb-5">
  <section x-data='{createModalOpen: false}' >
    <div class='container pb-10 pt-0 mx-auto flex justify-end'>
      <button @click='createModalOpen = true'
        class='px-8 py-4 text-lg font-medium text-center text-white bg-teal-600 rounded-md'>
        + New Brand
      </button>
    </div>
    {{!-- Modal create brand --}}
    <div x-show='createModalOpen' x-transition
      class='fixed top-0 left-0  z-10 flex items-center justify-center w-full h-full min-h-screen px-4 py-5 bg-slate-300 bg-opacity-80' >
      <div @click.outside='createModalOpen = false'
        class='w-full max-w-[570px] rounded-[20px] bg-white  py-12 px-8 text-center md:p-10'>
        <h3 class='pb-[18px] text-xl font-semibold text-dark  sm:text-2xl'>
          Create Brands
        </h3>
        <br />
        <form id='create' x-init method='POST' action='/brands/management'>
          <div class='mb-6'>
            <input type='text' placeholder='Brand Name' required name='brandName'
              class='border-stroke text-body-color focus:border-slate-900 w-full rounded border py-3 px-[14px] text-base outline-none' />
          </div>


          <div class='flex flex-wrap -mx-3'>
            <div class='w-1/2 px-3'>
              <div @click='createModalOpen = false'
                class='cursor-pointer block w-full p-3 text-base font-medium text-center transition border rounded-md border-stroke text-dark  hover:border-red-600 hover:bg-red-600 hover:text-white'>
                Cancel
              </div>
            </div>
            <div class='w-1/2 px-3'>
              <button type='submit'
                class='block w-full p-3 text-base font-medium text-center text-white transition border rounded-md border-slate-900 bg-indigo-600 hover:bg-blue-dark'>
                Create
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    {{!-- Modal create brand --}}
  </section>
  <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8  z-9">
    <div class="flex flex-col ">
      <div class="py-2 -my-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
        <div
          class=" inline-block max-h-[700px] scroll-smooth overflow-y-auto relative   min-w-full overflow-hidden align-middle border-b border-gray-200 shadow sm:rounded-lg"
        >
          <table class="min-w-full relative">
            <thead class="sticky top-0 left-0 right-0">
              <tr>
                <th
                  class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50"
                >
                  ID</th>
                <th
                  class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50"
                >
                  Brand Name</th>
                <th
                  class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50"
                >
                  Created At</th>
          
                <th class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">Actions
              </tr>
            </thead>
            <tbody class="bg-white h-64">
              {{#each brands}}
                <tr>
                 <td
                    class="text-dark border-b border-l border-[#E8E8E8] bg-white py-5 px-5  text-base font-medium"
                  >
                    {{inc @index}}
                  </td>
                  <td
                    class="px-6 py-4 text-sm leading-5 text-gray-500 whitespace-no-wrap border-b border-gray-200"
                  >
                    {{this.brandName}}
                    
                  </td>
                   <td
                    class="text-dark border-b border-[#E8E8E8] bg-white text-base font-medium"
                  >
                    {{prettifyDate this.createdAt}}
                  </td>
                  <td
                    class="px-6 py-4 text-sm  font-medium leading-5  whitespace-no-wrap border-b border-gray-200"
                  >
                    <section class='w-fit' x-data='{update{{this._id}}modalOpen: false}'>
                      <a @click='update{{this._id}}modalOpen = true'
                        class='cursor-pointer inline-block px-4 py-2.5 mr-2 border rounded-md hover:text-dark hover:bg-gray-100 font-medium'>
                        Update
                      </a>
                          {{!-- Modal update watch --}}
                      <div x-show='update{{this._id}}modalOpen' x-transition
                        class='fixed z-10 top-0 left-0 flex items-center justify-center w-full h-full min-h-screen px-4 py-5 bg-slate-300 bg-opacity-80'>
                        <div @click.outside='update{{this._id}}modalOpen = false'
                          class='w-full max-w-[570px] rounded-[20px] bg-white py-12 px-8 text-center md:py-[60px] md:px-[70px]'>
                          <h3 class='pb-[18px] text-xl font-semibold text-dark sm:text-2xl'>
                            Update Brands
                          </h3>
                          <br />
                          <form id='watch' x-init method='post' action='/brands/management/{{this._id}}'>
                
                            <div class='mb-6'>
                              <input type='text' placeholder='Brand Name' required name='brandName' value='{{this.brandName}}'
                                class='border-stroke text-body-color focus:border-slate-900 w-full rounded border py-3 px-[14px] text-base outline-none' />
                            </div>
                            <div class='flex flex-wrap -mx-3'>
                              <div class='w-1/2 px-3'>
                                <div @click='createModalOpen = false'
                                  class='cursor-pointer block w-full p-3 text-base font-medium text-center transition border rounded-md border-stroke text-dark  hover:border-red-600 hover:bg-red-600 hover:text-white'>
                                  Cancel
                                </div>
                              </div>
                              <div class='w-1/2 px-3'>
                                <button type='submit'
                                  class='block w-full p-3 text-base font-medium text-center text-white transition border rounded-md border-slate-900 bg-indigo-600 hover:bg-blue-dark'>
                                  Update
                                </button>
                              </div>
                            </div>
                          </form>
                  
                        </div>
                      </div>
                          {{!-- Modal update watch --}}
                    </section>
                  {{!-- modal delete here --}}
                    <section class='w-fit' x-data='{delete{{this._id}}modalOpen: false}'>
                      <a @click='delete{{this._id}}modalOpen = true'
                        class='cursor-pointer inline-block px-4 py-2.5 mr-2 border rounded-md hover:text-dark hover:bg-gray-100 font-medium'>
                        Delete
                      </a>
                          {{!-- Modal update watch --}}
                      <div x-show='delete{{this._id}}modalOpen' x-transition
                        class='fixed z-10 top-0 left-0 flex items-center justify-center w-full h-full min-h-screen px-4 py-5 bg-slate-300 bg-opacity-80'>
                        <div @click.outside='delete{{this._id}}modalOpen = false'
                          class='w-full max-w-[570px] rounded-[20px] bg-white py-12 px-8 text-center md:py-[60px] md:px-[70px]'>
                            <h3
                          class='pb-[18px] text-xl font-semibold text-dark  sm:text-2xl mb-4 text-gray-500 dark:text-gray-300'>
                          Are you sure you want to delete this item?
                        </h3>
                          <br />
                        <div class='flex flex-wrap -mx-3'>
                          <div class='w-1/2 px-3'>
                            <button @click='deleteModalOpen{{this._id}} = false'
                              class='cursor-pointer block w-full p-3 text-base font-medium text-center transition border-stroke text-dark hover:border-red-600 hover:bg-red-600 hover:text-white'>
                              No, cancel
                            </button>
                          </div>
                          <div class='w-1/2 px-3'>
                            <form method='delete' id='delete' action='/brands/management/{{ this._id }}' x-target='watch'>
                              <button @click='location.reload()'
                                class='block w-full p-3 text-base font-medium text-center text-white transition border rounded-md border-primary text-dark bg-indigo-600 hover:bg-blue-dark'>
                                Yes, I'm sure
                              </button>
                            </form>
                          </div>
                        </div>
                        </div>
                      </div>
                          {{!-- Modal update watch --}}
                    </section>
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</section>